@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --red: #FE98A3;
    --d-red: #f5818d;
    --blue: #8BD3DD;
    --d-blue: #73c5cf;
    --yellow: #FAAE2B;
    --d-yellow: #eba326;
}

.big-wrapper {
    border-bottom: 2px solid #000;
}

.big-title {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    font-family: 'Comfortaa', cursive;
}

.big-link {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 2rem;
    color: #000;
    text-decoration: none;
}

.big-link:hover {
    color: #000;
}

.nav-list {
    border-bottom: 2px solid #000;
}

.nav-item {
    border-right: 2px solid #000;
    padding: 15px 0 15px 0;
    font-family: 'IBM Plex Mono', monospace;
}

.nav-item:nth-child(1) {
    background-color: var(--yellow);
}

.nav-item:nth-child(1):hover {
    background-color: var(--d-yellow);
}

.nav-item:nth-child(2) {
    background-color: var(--blue);
}

.nav-item:nth-child(2):hover {
    background-color: var(--d-blue);
}

.nav-item:nth-child(3) {
    background-color: var(--red);
}

.nav-item:nth-child(3):hover {
    background-color: var(--d-red);
}

.nav-item:last-child {
    border: none;
}

.nav-link {
    text-decoration: none;
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

@media (max-width: 1150px) {
    .big-link {
        letter-spacing: 1.5rem;
    }
}

@media (max-width: 950px) {
    .big-link {
        letter-spacing: 1rem;
    }
}

@media (max-width: 850px) {
    .big-link {
        letter-spacing: .5rem;
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .big-link {
        letter-spacing: .25rem;
        font-size: 50px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    .big-link {
        letter-spacing: .1rem;
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .big-link {
        letter-spacing: .05rem;
        font-size: 40px;
    }

    .nav-link {
        letter-spacing: 0px;
        font-size: 13px;
    }
}